# Server
PORT=5000
NODE_ENV=development

# MongoDB connection string (Atlas ya local)
MONGO_URI=mongodb://127.0.0.1:27017/influencer_platform

# Frontend ka URL (CORS ke liye)
CLIENT_URL=http://localhost:3000

# Platform ka naam (abhi final nahi)
PLATFORM_NAME=Influence Platform
